body{
	background-color:black;
}
#bgimg {
    width: 600px;
    height: 600px;
}
#rage {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 130.5px;   
	left: 173.3px;  
	margin: auto;
	opacity:0.1;
}
#rage_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#panic {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 183.1px;   
	left: 234.5px;  
	margin: auto;
	opacity:0.1;
}
#panic_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#berserker {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 101.8px;   
	left: 228.4px;  
	margin: auto;
	opacity:0.1;
}
#berserker_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#confined_space {    
	width: auto;
	height: 44px;
	position: absolute;  
	top: 14.5px;   
	left: 287.9px;  
	margin: auto;
	opacity:0.1;
}
#confined_space_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#destructiveness {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 91.5px;   
	left: 292.5px;  
	margin: auto;
	opacity:0.1;
}
#destructiveness_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#wither {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 157.5px;   
	left: 292.5px;  
	margin: auto;
	opacity:0.1;
}
#wither_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#deteriorate {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 222.5px;   
	left: 292.5px;  
	margin: auto;
	opacity:0.1;
}
#deteriorate_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#restrain {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 182.8px;   
	left: 350.8px;  
	margin: auto;
	opacity:0.1;
}
#restrain_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#wanted_order {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 169.8px;   
	left: 451.2px;  
	margin: auto;
	opacity:0.1;
}
#wanted_order_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#announcement {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 230.2px;   
	left: 398px;  
	margin: auto;
	opacity:0.1;
}
#announcement_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#impact {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 224.2px;   
	left: 479.7px;  
	margin: auto;
	opacity:0.1;
}
#impact_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#trump_card {    
	width: auto;
	height: 44px;
	position: absolute;  
	top: 283.9px;   
	left: 557.7px;  
	margin: auto;
	opacity:0.1;
}
#trump_card_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#hospitable {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 288.1px;   
	left: 490px;  
	margin: auto;
	opacity:0.1;
}
#hospitable_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#hunters_instinct {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 288.2px;   
	left: 424.6px;  
	margin: auto;
	opacity:0.1;
}
#hunters_instinct_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#owl {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 288.2px;   
	left: 358.4px;  
	margin: auto;
	opacity:0.1;
}
#owl_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#desperate_fight {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 346.6px;   
	left: 398px;  
	margin: auto;
	opacity:0.1;
}
#desperate_fight_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#control_freak {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 447px;   
	left: 411px;  
	margin: auto;
	opacity:0.1;
}
#control_freak_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#cat_and_mouse {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 394.2px;   
	left: 350.3px;  
	margin: auto;
	opacity:0.1;
}
#cat_and_mouse_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#giant_claw {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 475.7px;   
	left: 356.6px;  
	margin: auto;
	opacity:0.1;
}
#giant_claw_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#detention {    
	width: auto;
	height: 44px;
	position: absolute;  
	top: 554px;   
	left: 288.2px;  
	margin: auto;
	opacity:0.1;
}
#detention_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#carnival {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 486.6px;   
	left: 292.6px;  
	margin: auto;
	opacity:0.1;
}
#carnival_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#mock {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 420.6px;   
	left: 292.6px;  
	margin: auto;
	opacity:0.1;
}
#mock_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#inertia {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 354.7px;   
	left: 292.6px;  
	margin: auto;
	opacity:0.1;
}
#inertia_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#no_survivors {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 394.2px;   
	left: 234.6px;  
	margin: auto;
	opacity:0.1;
}
#no_survivors_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#hunt {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 407.6px;   
	left: 134.6px;  
	margin: auto;
	opacity:0.1;
}
#hunt_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#tinnitus {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 346.6px;   
	left: 187.2px;  
	margin: auto;
	opacity:0.1;
}
#tinnitus_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#street_sweeper {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 353px;   
	left: 106px;  
	margin: auto;
	opacity:0.1;
}
#street_sweeper_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#isolence {    
	width: auto;
	height: 44px;
	position: absolute;  
	top: 283.8px;   
	left: 18.2px;  
	margin: auto;
	opacity:0.1;
}
#isolence_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#after_effect {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 288.3px;   
	left: 94.8px;  
	margin: auto;
	opacity:0.1;
}
#after_effect_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#possessive {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 288.5px;   
	left: 160.8px;  
	margin: auto;
	opacity:0.1;
}
#possessive_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#deer_hunt {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 288.5px;   
	left: 226.8px;  
	margin: auto;
	opacity:0.1;
}
#deer_hunt_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}
#claustrophobia {    
	width: auto;
	height: 35px;
	position: absolute;  
	top: 230px;   
	left: 187px;  
	margin: auto;
	opacity:0.1;
}
#claustrophobia_ {    
	width: 300px;
	height: auto;
	position: absolute;  
	left: 603px;  
	top: 150px;   
	opacity:0;
}