/*
square cards
rating cards
user profile
for fun
*/
@font-face {
	font-family: 'cute-font';
	src: url('../font/uzura.woff2') format('woff2');
}

b.px-3 {
	color: #69b4ff;
}

body {
	background: #e4f2ff !important;
	color: #333;
	font-family: 'cute-font' !important;
}

button {
	background-color: #ffffffcc;
	border-radius: 1.25rem !important;
	border: none;
	box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2);
	color: #333;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	margin-right: 1em;
	margin: 0.5rem;
	padding: 0.5em 1em;
	padding: 0.625rem 1.25rem;
	transition: transform 0.1s ease, background-color 0.3s ease;
}

button:disabled {
	background-color: #ffffff55;
	cursor: not-allowed;
}

button:not(:disabled):hover {
	background-color: #fff7e4;
	transform: scale(1.03);
}

#level-max,
#level-min {
	border-radius: 1.25rem;
}


.plate-progress-title {
	border-radius: 0.5rem;
	color: #69b4ff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 1em;
}

.section-divider {
	border-bottom: 0.1875rem dashed #c2e2ff !important;
	flex-grow: 1;
}

.section-title {
	color: #69b4ff;
	font-size: 1.25rem;
	grid-column: span 5;
	margin: 0.5625rem 0;
	text-align: center;
}

.tips {
	font-size: 0.875rem;
}


/**********/
/**switch**/
/**********/

/* From Uiverse.io by Bodyhc */
.checkbox-wrapper-35 .switch {
	display: none;
}

.checkbox-wrapper-35 .switch+label {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.75rem;
	line-height: 0.9375rem;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
	content: '';
	display: block;
}

.checkbox-wrapper-35 .switch+label::before {
	background-color: #69b4ff;
	border-radius: 31.25rem;
	height: 0.9375rem;
	margin-right: 0.5rem;
	-webkit-transition: background-color 0.125s ease-out;
	transition: background-color 0.125s ease-out;
	width: 1.5625rem;
}

.checkbox-wrapper-35 .switch+label::after {
	background-color: #fff;
	border-radius: 0.8125rem;
	box-shadow: 0 0.1875rem 0.0625rem 0 rgba(37, 34, 71, 0.05), 0 0.125rem 0.125rem 0 rgba(37, 34, 71, 0.1), 0 0.1875rem 0.1875rem 0 rgba(37, 34, 71, 0.05);
	height: 0.8125rem;
	left: 0.0625rem;
	position: absolute;
	top: 0.0625rem;
	-webkit-transition: -webkit-transform 0.125s ease-out;
	transition: -webkit-transform 0.125s ease-out;
	transition: transform 0.125s ease-out;
	transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
	width: 0.8125rem;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
	display: block;
	margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
	display: block;
	font-weight: bold;
	height: 0.9375rem;
	overflow: hidden;
	position: relative;
	width: 6.25rem;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
	transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
	transition: transform 0.125s ease-out, opacity 0.125s ease-out;
	transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
	position: absolute;
	visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
	background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked+label::after {
	-webkit-transform: translate3d(0.625rem, 0, 0);
	transform: translate3d(0.625rem, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

/**************/
/*square cards*/
/**************/
.completed .song-overlay {
	background: #22222255 !important;
}

.completion-check {
	color: #69b4ff;
	font-family: sans-serif;
	font-size: 1.625rem;
	position: absolute;
	right: 0.1875rem;
	text-shadow: 0.0625rem 0.0625rem 0.0625rem white, 0.0625rem -0.0625rem 0.0625rem white, -0.0625rem 0.0625rem 0.0625rem white, -0.0625rem -0.0625rem 0.0625rem white;
	top: -0.25rem;
	z-index: 2;
}

.difficulty-advanced .square-song-inner-level::after {
	color: #facd6c;
	content: " (ADV)";
}

.difficulty-basic .square-song-inner-level::after {
	color: #82e676;
	content: " (BAS)";
}

.difficulty-collapse {
	color: #69b4ff;
}

.difficulty-expert .square-song-inner-level::after {
	color: #ff6969;
	content: " (EXP)";
}

.difficulty-master .square-song-inner-level::after {
	color: #e269ff;
	content: " (MAS)";
}

.difficulty-remaster .square-song-inner-level::after {
	color: #cfcfcf;
	content: " (REM)";
}

.square-song-card {
	background-color: white;
	border-radius: 1.25rem;
	box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	height: 7.8125rem;
	padding: 0.625rem !important;
	position: relative;
	transition: transform 0.2s;
	width: 6.375rem !important;
}

.square-song-card .song-overlay {
	border-radius: 1.25rem;
	height: 7.8125rem;
	left:0rem;
	position: absolute;
	top:0rem;
	width: 6.375rem;
}

.square-song-grid {
	gap: 0.625rem;
}

.square-song-image {
	border-radius: 0.75rem;
	height: 50%;
	object-fit: cover;
	width: 100%;
}

.square-song-inner-level {
	color: #666;
	font-size: 0.625rem;
}

.square-song-score {
	color: #999;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.square-song-title {
	color: #69b4ff;
	font-size: 0.75rem;
	font-weight: bold;
	margin-top: 0.125rem;
	max-width: 5.625rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**************/
/*rating cards*/
/**************/
.rating-block-song-title::before {
	display: block;
	font-weight: 100;
	line-height: 0.625rem;
}

.difficulty-advanced .rating-block-song-title::before {
	color: #facd6c;
	content: " Advanced \A ";
}

.difficulty-basic .rating-block-song-title::before {
	color: #82e676;
	content: " Basic \A ";
}

.difficulty-expert .rating-block-song-title::before {
	color: #ff6969;
	content: " Expert \A ";
}

.difficulty-master .rating-block-song-title::before {
	color: #e269ff;
	content: " Master \A ";
}

.difficulty-remaster .rating-block-song-title::before {
	color: #cfcfcf;
	content: " Re: Master \A ";
}

.rating-block-inner-level {
	color: #666;
	font-size: 0.75rem;
	line-height: 0.75rem;
}

.rating-block-rating {
	background-color: #69b4ff;
	border-radius: 62.4375rem;
	color: white;
	filter: drop-shadow(-0.0625rem 0.0625rem 0.0625rem #22222222);
	font-size: 0.75rem;
	font-weight: bold;
	left: 0.3125rem;
	padding: 0.125rem 0.25rem;
	position: absolute;
	top: 0.3125rem;
}

.rating-block-score {
	color: #999;
	font-size: 1rem;
	line-height: 1rem;
}

.rating-block-song-title {
	color: #69b4ff;
	font-size: 0.75rem;
	font-weight: bold;
	max-width: 6.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rating-gain-info {
	background: linear-gradient(135deg, #69b4ff, #91c1ff);
	border-radius: 62.4375rem 0 0 62.4375rem;
	color: white;
	font-size: 0.625rem;
	padding: 0.0625rem 0.3125rem;
	position: absolute;
	right:0rem;
	top: 3.125rem;
	z-index: 2;
}

.song-card {
	align-items: flex-start;
	background: white;
	border-radius: 1.25rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 0.625rem;
	position: relative;
	transition: transform 0.2s;
	width: 10.625rem !important;
}

.song-content {
	text-align: left;
}

.song-grid {
	gap: 0.75rem;
}

.song-image {
	border-radius: 0.75rem;
	height: 3.4375rem;
	object-fit: cover;
	width: 3.125rem;
}

.song-info-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 0.3125rem;
}

/**************/
/*user profile*/
/**************/
#div-user-class-rank-text,
#div-user-course-rank-text,
#div-user-star-text {
	display: none;
}

.basic_block {
	background-color: #fff;
	border-radius: 1.25rem;
	box-shadow: 0.0625rem 0.1875rem0rem rgba(0, 0, 0, 0.4);
}

.f_0 {
	font-size: 0;
	line-height: 0;
}

.f_10 {
	font-size: 0.625rem;
	line-height: 1rem;
}

.f_12 {
	font-size: 0.75rem;
	line-height: 1rem;
}

.f_13 {
	font-size: 0.8125rem;
	line-height: 1.2rem;
}

.f_14 {
	font-size: 0.875rem;
	line-height: 1.2rem;
}

.f_16 {
	font-size: 1rem;
	line-height: 1.2rem;
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.h_30 {
	height: 1.875rem;
}

.h_35 {
	height: 2.1875rem;
}

.m_3 {
	margin: 0.1875rem;
}

.m_b_5 {
	margin-bottom: 0.3125rem;
}

.name_block {
	background-color: #fff;
	background-size: 2.125rem;
	border-radius: 1.25rem;
	border: 0.0625rem solid #dedede;
	box-shadow: 0.0625rem 0.1875rem0rem rgba(0, 0, 0, 0.4);
	color: #000;
	height: 1.6875rem;
	margin: 0.1875rem 0;
	padding: 0.3125rem 0.1875rem 0.1875rem 0.1875rem;
	width: 9.875rem;
}

.p_10 {
	padding: 0.625rem;
}

.p_3 {
	padding: 0.1875rem;
}

.p_l_10 {
	padding-left: 0.625rem;
}

.p_r {
	position: relative;
}

.rating_block {
	color: white;
	font-size: 1rem;
	height: 1.3125rem;
	line-height: 1.3125rem;
	position: absolute;
	text-align: right;
	top: 0.4375rem;
	transform: scaleX(1.3);
	width: 5.25rem;
}

.t_c {
	text-align: center;
}

.t_r {
	text-align: right;
}

.trophy_block {
	height: 1.5625rem;
	margin: 0 0 0.3125rem 0;
	overflow: hidden;
	white-space: nowrap;
	width: 16.75rem;
}

.trophy_Bronze {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
	color: #fff;
	height: 1.5rem;
	margin: 0 0.125rem;
	overflow: hidden;
	text-shadow: black 0.0625rem 0.0625rem 0, black -0.0625rem -0.0625rem 0, black -0.0625rem 0.0625rem 0, black 0.0625rem -0.0625rem 0, black 0rem 0.0625rem 0, black 0-0.0625rem 0, black -0.0625rem 0 0, black 0.0625rem 0 0;
	white-space: nowrap;
	width: 16.1875rem;
}

.trophy_Normal {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
	align-items: center;
	display: flex;
	gap: 1em;
	padding: 1em;
}

.user_data_block_line {
	margin: 0 0 0.25rem 0;
	width: 17.5rem;
}

.v_m {
	vertical-align: middle;
}

.w_112 {
	width: 7rem;
}

/*********/
/*for fun*/
/*********/
.axuan {
	background-image: url(../img/axuan_bg.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.ayo {
	background-image: url(../img/ayo_bg.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.fly {
	box-sizing: content-box;
	cursor: pointer;
	height: auto;
	padding: 3.125rem;
	position: absolute;
	width: 3.125rem;
	z-index: 1000;
}