/*
square cards
rating cards
user profile
for fun
*/
@font-face {
	font-family: 'cute-font';
	src: url('../../font/uzura.ttf');
}

b.px-3 {
	color: #69b4ff;
}

body {
	background: #e4f2ff !important;
	color: #333;
	font-family: 'cute-font' !important;
}

button {
	background-color: #ffffffcc;
	border-radius: 20px !important;
	border: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	color: #333;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-right: 1em;
	margin: 8px;
	padding: 0.5em 1em;
	padding: 10px 20px;
	transition: transform 0.1s ease, background-color 0.3s ease;
}

button:disabled {
	background-color: #ffffff55;
	cursor: not-allowed;
}

button:not(:disabled):hover {
	background-color: #fff7e4;
	transform: scale(1.03);
}

#level-max,
#level-min {
	border-radius: 20px;
}


.plate-progress-title {
	border-radius: 8px;
	color: #69b4ff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 1em;
}

.section-divider {
	border-bottom: 3px dashed #c2e2ff !important;
	flex-grow: 1;
}

.section-title {
	color: #69b4ff;
	font-size: 20px;
	grid-column: span 5;
	margin: 9px 0;
	text-align: center;
}

.tips {
	font-size: 14px;
}


/**********/
/**switch**/
/**********/

/* From Uiverse.io by Bodyhc */
.checkbox-wrapper-35 .switch {
	display: none;
}

.checkbox-wrapper-35 .switch+label {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
	content: '';
	display: block;
}

.checkbox-wrapper-35 .switch+label::before {
	background-color: #69b4ff;
	border-radius: 500px;
	height: 15px;
	margin-right: 8px;
	-webkit-transition: background-color 0.125s ease-out;
	transition: background-color 0.125s ease-out;
	width: 25px;
}

.checkbox-wrapper-35 .switch+label::after {
	background-color: #fff;
	border-radius: 13px;
	box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
	height: 13px;
	left: 1px;
	position: absolute;
	top: 1px;
	-webkit-transition: -webkit-transform 0.125s ease-out;
	transition: -webkit-transform 0.125s ease-out;
	transition: transform 0.125s ease-out;
	transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
	width: 13px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
	display: block;
	margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
	display: block;
	font-weight: bold;
	height: 15px;
	overflow: hidden;
	position: relative;
	width: 100px;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
	transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
	transition: transform 0.125s ease-out, opacity 0.125s ease-out;
	transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
	position: absolute;
	visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
	background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked+label::after {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

/**************/
/*square cards*/
/**************/
.completed .song-overlay {
	background: #22222255 !important;
}

.completion-check {
	color: #69b4ff;
	font-family: sans-serif;
	font-size: 26px;
	position: absolute;
	right: 3px;
	text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
	top: -4px;
	z-index: 2;
}

.difficulty-advanced .square-song-inner-level::after {
	color: #facd6c;
	content: " (ADV)";
}

.difficulty-basic .square-song-inner-level::after {
	color: #82e676;
	content: " (BAS)";
}

.difficulty-collapse {
	color: #69b4ff;
}

.difficulty-expert .square-song-inner-level::after {
	color: #ff6969;
	content: " (EXP)";
}

.difficulty-master .square-song-inner-level::after {
	color: #e269ff;
	content: " (MAS)";
}

.difficulty-remaster .square-song-inner-level::after {
	color: #cfcfcf;
	content: " (REM)";
}

.square-song-card {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	height: 125px;
	padding: 10px !important;
	position: relative;
	transition: transform 0.2s;
	width: 102px !important;
}

.square-song-card .song-overlay {
	border-radius: 20px;
	height: 125px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 102px;
}

.square-song-grid {
	gap: 10px;
}

.square-song-image {
	border-radius: 12px;
	height: 50%;
	object-fit: cover;
	width: 100%;
}

.square-song-inner-level {
	color: #666;
	font-size: 10px;
}

.square-song-score {
	color: #999;
	font-size: 14px;
	line-height: 14px;
}

.square-song-title {
	color: #69b4ff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 2px;
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**************/
/*rating cards*/
/**************/
.rating-block-song-title::before {
	display: block;
	font-weight: 100;
	line-height: 10px;
}

.difficulty-advanced .rating-block-song-title::before {
	color: #facd6c;
	content: " Advanced \A ";
}

.difficulty-basic .rating-block-song-title::before {
	color: #82e676;
	content: " Basic \A ";
}

.difficulty-expert .rating-block-song-title::before {
	color: #ff6969;
	content: " Expert \A ";
}

.difficulty-master .rating-block-song-title::before {
	color: #e269ff;
	content: " Master \A ";
}

.difficulty-remaster .rating-block-song-title::before {
	color: #cfcfcf;
	content: " Re: Master \A ";
}

.rating-block-inner-level {
	color: #666;
	font-size: 12px;
	line-height: 12px;
}

.rating-block-rating {
	background-color: #69b4ff;
	border-radius: 999px;
	color: white;
	filter: drop-shadow(-1px 1px 1px #22222222);
	font-size: 12px;
	font-weight: bold;
	left: 5px;
	padding: 2px 4px;
	position: absolute;
	top: 5px;
}

.rating-block-score {
	color: #999;
	font-size: 16px;
	line-height: 16px;
}

.rating-block-song-title {
	color: #69b4ff;
	font-size: 12px;
	font-weight: bold;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rating-gain-info {
	background: linear-gradient(135deg, #69b4ff, #91c1ff);
	border-radius: 999px 0 0 999px;
	color: white;
	font-size: 10px;
	padding: 1px 5px;
	position: absolute;
	right: 0px;
	top: 50px;
	z-index: 2;
}

.song-card {
	align-items: flex-start;
	background: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 10px;
	position: relative;
	transition: transform 0.2s;
	width: 170px !important;
}

.song-content {
	text-align: left;
}

.song-grid {
	gap: 12px;
}

.song-image {
	border-radius: 12px;
	height: 55px;
	object-fit: cover;
	width: 50px;
}

.song-info-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 5px;
}

/**************/
/*user profile*/
/**************/
#div-user-class-rank-text,
#div-user-course-rank-text,
#div-user-star-text {
	display: none;
}

.basic_block {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.f_0 {
	font-size: 0;
	line-height: 0;
}

.f_10 {
	font-size: 10px;
	line-height: 1rem;
}

.f_12 {
	font-size: 12px;
	line-height: 1rem;
}

.f_13 {
	font-size: 13px;
	line-height: 1.2rem;
}

.f_14 {
	font-size: 14px;
	line-height: 1.2rem;
}

.f_16 {
	font-size: 16px;
	line-height: 1.2rem;
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.h_30 {
	height: 30px;
}

.h_35 {
	height: 35px;
}

.m_3 {
	margin: 3px;
}

.m_b_5 {
	margin-bottom: 5px;
}

.name_block {
	background-color: #fff;
	background-size: 34px;
	border-radius: 20px;
	border: 1px solid #dedede;
	box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
	color: #000;
	height: 27px;
	margin: 3px 0;
	padding: 5px 3px 3px 3px;
	width: 158px;
}

.p_10 {
	padding: 10px;
}

.p_3 {
	padding: 3px;
}

.p_l_10 {
	padding-left: 10px;
}

.p_r {
	position: relative;
}

.rating_block {
	color: white;
	font-size: 16px;
	height: 21px;
	line-height: 21px;
	position: absolute;
	text-align: right;
	top: 7px;
	transform: scaleX(1.3);
	width: 84px;
}

.t_c {
	text-align: center;
}

.t_r {
	text-align: right;
}

.trophy_block {
	height: 25px;
	margin: 0 0 5px 0;
	overflow: hidden;
	white-space: nowrap;
	width: 268px;
}

.trophy_Bronze {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
	color: #fff;
	height: 24px;
	margin: 0 2px;
	overflow: hidden;
	text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0-1px 0, black -1px 0 0, black 1px 0 0;
	white-space: nowrap;
	width: 259px;
}

.trophy_Normal {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
	align-items: center;
	display: flex;
	gap: 1em;
	padding: 1em;
}

.user_data_block_line {
	margin: 0 0 4px 0;
	width: 280px;
}

.v_m {
	vertical-align: middle;
}

.w_112 {
	width: 112px;
}

/*********/
/*for fun*/
/*********/
.axuan {
	background-image: url(../img/axuan_bg.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.ayo {
	background-image: url(../img/ayo_bg.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.fly {
	box-sizing: content-box;
	cursor: pointer;
	height: auto;
	padding: 50px;
	position: absolute;
	width: 50px;
	z-index: 1000;
}