/*
square cards
rating cards
user profile
for fun
*/
@font-face {
    font-family: 'handwriting';
    src: url('../../font/SanariFont002.ttf');
}

body {
    font-family: 'handwriting' !important;
    background: url(../../mai-tools/img/fabric_board.jpg) !important;
    background-size: 300px !important;
}

button {
    background-color: #ffffffcc;
    border-radius: 20px !important;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1em;
    margin: 8px;
    padding: 0.5em 1em;
    padding: 10px 20px;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #e4ffef;
    transform: scale(1.03);
}


.section-divider {
    flex-grow: 1;
    border-bottom: 0px !important;
}

.section-title {
    font-size: 25px;
    grid-column: span 5;
    margin: 9px 0;
    text-align: center;
    color: #000;
}

.tips {
    font-size: 14px;
}

b.px-3::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: calc(50% - 8px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #496582 0%, #1a242f 100%);
}

b.px-3 {
    color: #222;
    background: #a7c7e7;
    padding: 5px;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.7));
}

.col-12.d-flex.align-items-center.my-3 {
    position: relative;
}

.plate-progress-title {
    padding: 0 1em;
    font-weight: bold;
    font-size: 1.2em;
    color: #ff69b4;
    border-radius: 20px;
}

#level-min,
#level-max {
    border-radius: 20px;
}

.difficulty-remaster .card-decoration {
    background: linear-gradient(135deg, #ffffff 0%, #e0e0e0 100%);
}

.difficulty-master .card-decoration {
    background: linear-gradient(135deg, #c346e7 0%, #7d149a 100%);
    ;
}

.difficulty-expert .card-decoration {
    background: linear-gradient(135deg, #ff818d 0%, #d44f5e 100%);
}

.difficulty-advanced .card-decoration {
    background: linear-gradient(135deg, #f8b709 0%, #d99800 100%);
}

.difficulty-basic .card-decoration {
    background: linear-gradient(135deg, #81d955 0%, #5dbb30 100%);
}


/**************/
/*square cards*/
/**************/
.completed .song-overlay {
    background: #22222255 !important;
}

.square-song-card .song-overlay {
    position: absolute;
    border-radius: 20px;
    height: 125px;
    width: 102px;
    top: 0px;
    left: 0px;
}

.completion-check {
    color: #ff69b4;
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
    font-size: 26px;
    position: absolute;
    right: 3px;
    top: -4px;
    z-index: 2;
}

.square-song-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 102px);
}

.square-song-card {
    height: 125px;
    width: 102px !important;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
    font-family: 'Comic Neue', cursive;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    padding: 10px !important;
    position: relative;
}

.square-song-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
}

.square-song-title {
    font-weight: bold;
    color: #ff69b4;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    margin-top: 2px;
}

.square-song-inner-level {
    font-size: 10px;
    color: #666;
}

.square-song-score {
    font-size: 14px;
    line-height: 14px;
    color: #999;
}

.rating-gain-info {
    position: absolute;
    top: 50px;
    right: 0px;
    background: linear-gradient(135deg, #ff69b4, #ff91c1);
    color: white;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 999px 0 0 999px;
    z-index: 2;
}

/**************/
/*rating cards*/
/**************/

.song-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 165px);
}

.song-card {
    width: 165px !important;
    height: 176px;
    background: linear-gradient(320deg, #fff7a0, #fffbc3);
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.7));
    position: relative;
    padding: 10px;
    transform: rotate(-2deg);
}



.deg1 {
    transform: rotate(-2deg);
}

.deg2 {
    transform: rotate(-1deg);
}

.deg3 {
    transform: rotate(0deg);
}

.deg4 {
    transform: rotate(1deg);
}

.deg5 {
    transform: rotate(2deg);
}

.card-decoration {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: calc(50% - 8px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.song-card.remaster .card-decoration {
    background: red;
}


.rating-block-rating {
    position: absolute;
    bottom: 9px;
    right: 12px;
    color: red;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

.song-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 5px solid #fff;
}

.song-content {
    text-align: left;
}

.rating-block-song-title {
    font-weight: bold;
    color: #000;
    max-width: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rating-block-inner-level {
    font-size: 12px;
    color: #5a5a5a;
}

.rating-block-score {
    font-size: 16px;
    line-height: 16px;
    color: #5a5a5a;
}

/**************/
/*user profile*/
/**************/
.basic_block {
    background-color: #fff;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.7));
}

.basic_block::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #496582 0%, #1a242f 100%);
}

.basic_block::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #496582 0%, #1a242f 100%);
}

.f_0 {
    font-size: 0;
    line-height: 0;
}

.f_10 {
    font-size: 10px;
    line-height: 1rem;
}

.f_12 {
    font-size: 12px;
    line-height: 1rem;
}

.f_13 {
    font-size: 13px;
    line-height: 1.2rem;
}

.f_14 {
    font-size: 14px;
    line-height: 1.2rem;
}

.f_16 {
    font-size: 16px;
    line-height: 1.2rem;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.h_30 {
    height: 30px;
}

.h_35 {
    height: 35px;
}

.m_3 {
    margin: 3px;
}

.m_b_5 {
    margin-bottom: 5px;
}

.name_block {
    background-color: #fff;
    background-size: 34px;
    border-radius: 15px;
    border: 1px solid #dedede;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
    color: #000;
    height: 27px;
    margin: 3px 0;
    padding: 5px 3px 3px 3px;
    width: 158px;
}

.p_10 {
    padding: 10px;
}

.p_3 {
    padding: 3px;
}

.p_l_10 {
    padding-left: 10px;
}

.p_r {
    position: relative;
}

.rating_block {
    color: white;
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    right: 9px;
    text-align: right;
    top: 7px;
    width: 73px;
}

.t_c {
    text-align: center;
}

.t_r {
    text-align: right;
}

.trophy_block {
    height: 25px;
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 268px;
}

.trophy_Bronze {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
    color: black;
    height: 24px;
    margin: 0 2px;
    overflow: hidden;
    white-space: nowrap;
    width: 259px;
}

.trophy_Normal {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
    align-items: center;
    display: flex;
    gap: 1em;
    padding: 1em;
}

.user_data_block_line {
    margin: 0 0 4px 0;
    width: 280px;
}

.v_m {
    vertical-align: middle;
}

.w_112 {
    width: 112px;
}

/*********/
/*for fun*/
/*********/

.axuan {
    background-image: url(../img/axuan.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.ayo {
    background-image: url(../img/ayo.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.fly {
    box-sizing: content-box;
    cursor: pointer;
    height: auto;
    padding: 50px;
    position: absolute;
    width: 50px;
    z-index: 1000;
}