/*
square cards
rating cards
user profile
for fun
*/

@font-face {
    font-family: 'handwriting';
    src: url('../../font/Ghatee.ttf');
}

a {
    text-decoration: none!important;
}

body {
    font-family: 'handwriting' !important;
    background: url(../../mai-tools/img/fabric_board.jpg) !important;
    background-size: 300px !important;
}

button {
    background: #f9f2dc;
    border: 1px solid #d2b48c;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 6px 12px;
    position: relative;
}

button:not(#btn-search):hover {
    transform: translateY(-2px) scale(1.02);
}

#btn-search {
    background: none;
    border: 1px solid #b8b8b8;
    box-shadow: none;
    color: #7a7a7a;
    line-height: 14px;
}

#completion-filters {
    background: #f9f2dc;
    border: 1px solid #d2b48c;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #7a7a7a;
    position: relative;
}

#credit {
    background: #fdfaf3;
    border: 1px dashed #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: relative;
}

#credit::after {
    background: linear-gradient(135deg, #828149 0%, #2f2f1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
}

#credit::before {
    background: linear-gradient(135deg, #828149 0%, #2f2f1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 10px;
}

#info {
    background: #fdfaf3;
    border: 1px dashed #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: -21px;
    padding: 10px;
    padding-right: 0px;
    position: relative;
}

#info::after {
    background: linear-gradient(135deg, #828149 0%, #2f2f1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
}

#info::before {
    background: linear-gradient(135deg, #828149 0%, #2f2f1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 10px;
}

#play-filters {
    background: #f9f2dc;
    border: 1px solid #d2b48c;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #7a7a7a;
    position: relative;
}

#stat {
    padding: 1em;
    align-items: center;
}

.col-12.d-flex.align-items-center.my-3 {
    position: relative;
}

.difficulty-advanced .card-decoration {
    background: linear-gradient(135deg, #f8b709 0%, #d99800 100%);
}

.difficulty-basic .card-decoration {
    background: linear-gradient(135deg, #81d955 0%, #5dbb30 100%);
}

.difficulty-collapse {
    background: #f9f2dc;
    border: 1px solid #d2b48c;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 6px 12px;
    position: relative;
}

.difficulty-expert .card-decoration {
    background: linear-gradient(135deg, #ff818d 0%, #d44f5e 100%);
}

.difficulty-master .card-decoration {
    background: linear-gradient(135deg, #c346e7 0%, #7d149a 100%);
}

.difficulty-remaster .card-decoration {
    background: linear-gradient(135deg, #ffffff 0%, #e0e0e0 100%);
}

.form-check-input {
    --bs-form-check-bg: none !important;
    background-color: none !important;
    border-color: #b8b8b8 !important;
}

.form-check-input:checked {
    background: #82aef1 !important;
    filter: url(#crayon-effect);
}

.form-check-input:focus {
    box-shadow: none !important;
}

.plate-progress-title {
    border-radius: 20px;
    color: #ff69b4;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 1em;
}

.row.border-bottom.border-secondary {
    border: none !important;
}

.section-divider {
    background: repeating-linear-gradient(45deg, #c9a066, #c9a066 2px, #a67c52 2px, #a67c52 4px);
    border-bottom: 0px !important;
    border-radius: 3px;
    flex-grow: 1;
    flex: 1;
    height: 6px;
    position: relative;
    top: -18px;
}

.section-divider-title {
    background: #a7c7e7;
    border: 1px solid #999;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.7));
    padding: 0.4em 1em;
    position: relative;
    z-index: 1;
}

.section-divider-title::after {
    right: 6px;
}

.section-divider-title::after,
.section-divider-title::before {
    background: #444;
    border-radius: 1px;
    content: '';
    height: 18px;
    position: absolute;
    top: -8px;
    width: 6px;
}

.section-divider-title::before {
    left: 6px;
}

.section-divider.left {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    transform: rotateZ(1deg);
}

.section-divider.left::before {
    background: linear-gradient(135deg, #e7a746 0%, #9a4814 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    content: "";
    height: 16px;
    left: -5px;
    position: absolute;
    top: -6px;
    width: 16px;
}

.section-divider.right {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    transform: rotateZ(-1deg);
}

.section-divider.right::before {
    background: linear-gradient(135deg, #e7a746 0%, #9a4814 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    content: "";
    height: 16px;
    position: absolute;
    right: -5px;
    top: -6px;
    width: 16px;
}

.section-title {
    background: #fdfaf3;
    border: 1px dashed #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 25px;
    grid-column: span 5;
    margin-bottom: 20px;
    margin: 9px 0;
    padding: 10px;
    position: relative;
    text-align: center;
}

.section-title::after {
    background: linear-gradient(135deg, #498250 0%, #1f2f1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
}

.section-title::before {
    background: linear-gradient(135deg, #498250 0%, #1f2f1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 10px;
}

.tips {
    font-size: 14px;
}


/**********/
/**switch**/
/**********/
.checkbox-wrapper-35{
    margin-top: 10px !important;
}

/* From Uiverse.io by Bodyhc */
.checkbox-wrapper-35 .switch {
    float: left;
}

.checkbox-wrapper-35 .switch+label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-35 .switch+label::before {
    background-color: #05012c;
    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 25px;
}

.checkbox-wrapper-35 .switch+label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
    display: block;
    margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
    background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked+label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

/**************/
/*square cards*/
/**************/
#level-max,
#level-min {
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    color: #7a7a7a;
    line-height: 14px;
}

#level-stat {
    background-color: #fff;
    color: #7a7a7a;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    padding: 15px !important;
}

#level-stat::after {
    background: linear-gradient(135deg, #496582 0%, #1a242f 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
}

#level-stat::before {
    background: linear-gradient(135deg, #496582 0%, #1a242f 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 16px;
}

#plate-stat {
    background: #fff;
    color: #7a7a7a;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    justify-content: center;
    left: 50px;
    padding: 15px 5px 5px 5px;
    position: relative;
    transform: rotate(-1deg);
    width: fit-content;
}

#plate-stat::before {
    background: linear-gradient(135deg, #824949 0%, #2f1a1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    top: -3px;
    width: 16px;
}

#suggestion-stat {
    background: #fff;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    height: 120px !important;
    justify-content: center;
    left: 50px;
    position: relative;
    transform: rotate(1deg);
    width: 200px;
}

#suggestion-stat::before {
    background: linear-gradient(135deg, #824949 0%, #2f1a1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    top: -3px;
    width: 16px;
}

#summary-table {
    background: #fff;
    color: #7a7a7a;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    justify-content: center;
    left: 50px;
    padding: 15px 5px 5px 5px;
    position: relative;
    width: fit-content;
}

#summary-table::before {
    background: linear-gradient(135deg, #824949 0%, #2f1a1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    top: -3px;
    width: 16px;
}

#statText {
    font-weight: bold;
}

.completed .song-overlay::before {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border: 3px solid rgba(255, 0, 0, 0.6);
    bottom: 5px;
    color: rgba(255, 0, 0, 0.7);
    content: "達成";
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 45px;
    mix-blend-mode: multiply;
    pointer-events: none;
    position: absolute;
    right: 10px;
    text-align: center;
    transform: rotate(-15deg);
    width: 50px;
    z-index: 10;
}

.completion-check {
    display: none;
}

.level-list {
    margin-bottom: 3px;
}

.rating-gain-info {
    color: red;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 3px;
    text-decoration: underline;
    top: 0px;
    transform: rotate(3deg);
}

.square-song-card {
    background: linear-gradient(320deg, #fff7a0, #fffbc3);
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    height: 135px;
    padding: 10px;
    position: relative;
    width: 118px !important;
}

.square-song-card:hover {
    transform: translateY(-4px) scale(1.02);
}

.square-song-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 102px);
}

.square-song-image {
    border: 5px solid #fff;
    height: 70px;
    object-fit: cover;
    width: 100%;
}

.square-song-inner-level {
    color: #5a5a5a;
    font-size: 10px;
}

.square-song-score {
    color: #5a5a5a;
    font-size: 14px;
    line-height: 12px;
}

.square-song-title {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**************/
/*rating cards*/
/**************/
#rating-stat {
    background: #fff;
    color: #7a7a7a;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    height: 120px;
    justify-content: center;
    left: 50px;
    position: relative;
    transform: rotate(-2deg);
    width: 200px;
}

#rating-stat::before {
    background: linear-gradient(135deg, #824949 0%, #2f1a1a 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    top: -3px;
    width: 16px;
}

.card-decoration {
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    top: -5px;
    width: 16px;
}

.deg1 {
    transform: rotate(-2deg);
}

.deg2 {
    transform: rotate(-1deg);
}

.deg3 {
    transform: rotate(0deg);
}

.deg4 {
    transform: rotate(1deg);
}

.deg5 {
    transform: rotate(2deg);
}

.rating-block-inner-level {
    color: #5a5a5a;
    font-size: 12px;
}

.rating-block-rating {
    bottom: 9px;
    color: red;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 12px;
    text-decoration: underline;
}

.rating-block-score {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 16px;
}

.rating-block-song-title {
    color: #000;
    font-weight: bold;
    max-width: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card {
    background: linear-gradient(320deg, #fff7a0, #fffbc3);
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    height: 176px;
    padding: 10px;
    position: relative;
    width: 165px !important;
}

.song-card:hover {
    transform: translateY(-4px) scale(1.02);
}

.song-content {
    text-align: left;
}

.song-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 165px);
}

.song-image {
    border: 5px solid #fff;
    height: 100px;
    object-fit: cover;
    width: 100%;
}

/**************/
/*user profile*/
/**************/
img[src*="rating_base_blue.png"]+.rating_block::after {
    background: #86e2ff;
}

img[src*="rating_base_bronze.png"]+.rating_block::after {
    background: #c3663c;
}

img[src*="rating_base_gold.png"]+.rating_block::after {
    background: #e0c302;
}

img[src*="rating_base_green.png"]+.rating_block::after {
    background: #aeff80;
}

img[src*="rating_base_orange.png"]+.rating_block::after {
    background: #fff15b;
}

img[src*="rating_base_platinum.png"]+.rating_block::after {
    background: #fcf082;
}

img[src*="rating_base_purple.png"]+.rating_block::after {
    background: #daa0ff;
}

img[src*="rating_base_rainbow.png"]+.rating_block::after {
    background: linear-gradient(159deg, #ff4b4b 0%, #ff9900 15%, #ffee00 30%, #33dd00 45%, #00ddff 60%, #3366ff 75%, #cc33ff 90%, #ff4b4b 100%);
}

img[src*="rating_base_red.png"]+.rating_block::after {
    background: #ff9393;
}

img[src*="rating_base_silver.png"]+.rating_block::after {
    background: #b2c4cd;
}

#div-user-class-rank-text h6,
#div-user-course-rank-text h6,
#div-user-star-text h6 {
    color: #7a7a7a;
    font-weight: 1000;
}

#div-user-class-rank-text span,
#div-user-course-rank-text span,
#div-user-star-text span {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 12px;
}

#user-class-rank,
#user-course-rank,
#user-rating-base,
.h_30.m_3.v_m,
.p_l_10.f_l.f_14 {
    display: none;
}

.basic_block {
    background-color: #fff;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
    padding: 15px !important;
    position: relative;
}

.basic_block::after {
    background: linear-gradient(135deg, #496582 0%, #1a242f 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
}

.basic_block::before {
    background: linear-gradient(135deg, #496582 0%, #1a242f 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 16px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 16px;
}

.f_0 {
    font-size: 0;
    line-height: 0;
}

.f_10 {
    font-size: 10px;
    line-height: 1rem;
}

.f_12 {
    font-size: 12px;
    line-height: 1rem;
}

.f_13 {
    font-size: 13px;
    line-height: 1.2rem;
}

.f_14 {
    font-size: 14px;
    line-height: 1.2rem;
}

.f_16 {
    font-size: 16px;
    line-height: 1.2rem;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.h_30 {
    height: 30px;
}

.h_35 {
    height: 35px;
}

.m_3 {
    margin: 3px;
}

.m_b_5 {
    margin-bottom: 5px;
}

.name_block {
    background-color: #fff;
    background-size: 34px;
    border-radius: 15px;
    border: 1px solid #dedede;
    color: #7a7a7a;
    font-weight: 1000;
    height: 27px;
    margin: 3px 0;
    padding: 5px 3px 3px 3px;
    width: 158px;
}

.p_10 {
    padding: 10px;
}

.p_3 {
    padding: 3px;
}

.p_l_10 {
    padding-left: 10px;
}

.p_r {
    position: relative;
}

.rating_block {
    color: #222;
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: 7px;
    width: 100px;
}

.rating_block::after {
    content: "";
    filter: url(#crayon-effect);
    inset: 0;
    left: -4px;
    opacity: 0.4;
    position: absolute;
    width: 110px;
    z-index: 0;
}

.rating_block::before {
    color: #222;
    content: "Rating: ";
    float: left;
}

.t_c {
    text-align: center;
}

.t_r {
    text-align: right;
}

.trophy_block {
    height: 25px;
    margin: 0 0 5px 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 268px;
}

.trophy_block::before {
    content: "";
    filter: url(#crayon-effect);
    inset: 0;
    opacity: 0.4;
    position: absolute;
    z-index: 0;
}

.trophy_Bronze::before {
    background: #fb9a6a;
}

.trophy_Gold::before {
    background: #ffdf4b;
}

.trophy_inner_block {
    color: black;
    height: 24px;
    margin: 0 2px;
    overflow: hidden;
    white-space: nowrap;
    width: 259px;
}

.trophy_Normal::before {
    background: #aaa;
}

.trophy_Rainbow::before {
    background: linear-gradient(159deg, #ff4b4b 0%, #ff9900 15%, #ffee00 30%, #33dd00 45%, #00ddff 60%, #3366ff 75%, #cc33ff 90%, #ff4b4b 100%);
}

.trophy_Silver::before {
    background: #e0e3f8;
}

.user-info {
    align-items: center;
    display: flex;
    gap: 1em;
    padding: 1em;
}

.user_data_block_line {
    margin: 0 0 4px 0;
    width: 280px;
}

.v_m {
    vertical-align: middle;
}

.w_112 {
    width: 112px;
}

/*********/
/*for fun*/
/*********/
.axuan {
    background-image: url(../img/axuan_bg.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.ayo {
    background-image: url(../img/ayo_bg.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.fly {
    box-sizing: content-box;
    cursor: pointer;
    height: auto;
    padding: 50px;
    position: absolute;
    width: 50px;
    z-index: 1000;
}