a {
	color: #0056b3 !important;
	text-decoration: underline;
}

body {
	background-color: #51bcf3 !important;
	font-family: sans-serif;
}

button {
	background-color: #ffffffcc;
	border-radius: 12px !important;
	border: none;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	color: #333;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-right: 1em;
	margin: 8px;
	padding: 0.5em 1em;
	padding: 10px 20px;
	transition: transform 0.1s ease, background-color 0.3s ease;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: #ccc;
	transform: none;
}

button:hover {
	background-color: #f0f0f0;
	transform: scale(1.03);
}

img {
	-moz-touch-callout: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border: none;
	user-select: none;
}

.button-group {
	margin: 1em 0;
}

.difficulty-advanced {
	box-shadow: 5px 5px 4px #f8b709;
}

.difficulty-basic {
	box-shadow: 5px 5px 4px #81d955;
}

.difficulty-count {
	display: block;
	text-align: left;
}

.difficulty-expert {
	box-shadow: 5px 5px 4px #ff818d;
}

.difficulty-master {
	box-shadow: 5px 5px 4px #c346e7;
}

.difficulty-remaster {
	box-shadow: 5px 5px 4px #fff;
}

.plate-version-button {
	font-size: 14px;
}

.rating-gain-info {
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	text-align: right;
	top: 5px;
	z-index: 1;
}

.section-title {
	color: #fff;
	font-size: 20px;
	grid-column: span 5;
	margin: 9px 0;
	text-align: center;
}

.song-content {
	line-height: 1rem;
	z-index: 1;
}

.song-overlay {
	backdrop-filter: blur(2px);
	background-color: rgba(0,0,0,0.2);
	inset: -5px;
	position: absolute;
}

.table {
	display: none;
	flex-direction: column;
	margin-top: 1em;
}

.text-shadow-black {
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

/**************/
/*square cards*/
/**************/
.completed .song-overlay {
	filter: brightness(30%);
}

.completion-check {
	color: #0f0;
	font-size: 26px;
	position: absolute;
	right: 3px;
	top: -4px;
	z-index: 2;
}

.square-song-card {
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: flex-end;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	width: 100px !important;
}

.square-song-grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit,102px);
}

.square-song-title {
	display: inline-block;
	line-height: 12px !important;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 10px;
}
.square-song-inner-level {
	line-height: 12px !important;
	font-size: 10px;
}

/**************/
/*rating cards*/
/**************/

.rating-block-inner-level {
	bottom: 19.5px;
	font-size: 12px;
	left: 3.5px;
}

.rating-block-inner-level,
.rating-block-rating,
.rating-block-score,
.rating-block-song-title {
	padding: 0.2em 0.4em;
	position: absolute;
	z-index: 2;
}

.rating-block-rating {
	font-size: 22px;
	right: -3px;
	top: 3px;
}

.rating-block-score {
	bottom: 3px;
	font-size: 16px;
	left: 1px;
}

.rating-block-song-title {
	display: inline-block;
    max-width: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	bottom: 33px;
	font-size: 12px;
	left: 4px;
}

.song-card {
	align-items: center;
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 101px;
	justify-content: center;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	width: 163px !important;
}

.song-card.completed {
	position: relative;
}

.song-grid {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, 165px);
}

.song-image {
	object-fit: cover;
	width: calc(100% + 2em);
}

/**************/
/*user profile*/
/**************/.basic_block {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 3px 0px rgba(0,0,0,0.4);
}

.f_0 {
	font-size: 0;
	line-height: 0;
}

.f_10 {
	font-size: 10px;
	line-height: 1rem;
}

.f_13 {
	font-size: 13px;
	line-height: 1.2rem;
}

.f_14 {
	font-size: 14px;
	line-height: 1.2rem;
}

.f_16 {
	font-size: 16px;
	line-height: 1.2rem;
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.h_30 {
	height: 30px;
}

.h_35 {
	height: 35px;
}

.m_3 {
	margin: 3px;
}

.m_b_5 {
	margin-bottom: 5px;
}

.name_block {
	background-color: #fff;
	background-size: 34px;
	border-radius: 5px;
	border: 1px solid #dedede;
	box-shadow: 1px 3px 0px rgba(0,0,0,0.4);
	color: #000;
	height: 27px;
	margin: 3px 0;
	padding: 5px 3px 3px 3px;
	width: 158px;
}

.p_10 {
	padding: 10px;
}

.p_3 {
	padding: 3px;
}

.p_l_10 {
	padding-left: 10px;
}

.p_r {
	position: relative;
}

.rating_block {
	color: white;
	font-size: 16px;
	height: 21px;
	line-height: 21px;
	position: absolute;
	right: 9px;
	text-align: right;
	top: 7px;
	width: 73px;
}

.t_c {
	text-align: center;
}

.t_r {
	text-align: right;
}

.trophy_block {
	height: 25px;
	margin: 0 0 5px 0;
	overflow: hidden;
	white-space: nowrap;
	width: 268px;
}

.trophy_Bronze {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
	color: #fff;
	height: 24px;
	margin: 0 2px;
	overflow: hidden;
	text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0-1px 0, black -1px 0 0, black 1px 0 0;
	white-space: nowrap;
	width: 259px;
}

.trophy_Normal {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
	align-items: center;
	display: flex;
	gap: 1em;
	padding: 1em;
}

.user_data_block_line {
	margin: 0 0 4px 0;
	width: 280px;
}

.v_m {
	vertical-align: middle;
}

.w_112 {
	width: 112px;
}

/*********/
/*For fun*/
/*********/

.axuan {
	background-image: url(../img/axuan.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.ayo {
	background-image: url(../img/ayo.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.fly {
	box-sizing: content-box;
	cursor: pointer;
	height: auto;
	padding: 50px;
	position: absolute;
	width: 50px;
	z-index: 1000;
}