body {
    background: #ACB5EB;
    background: linear-gradient(90deg, rgba(172, 181, 235, 1) 0%, rgba(146, 213, 233, 1) 50%, rgba(214, 250, 235, 1) 100%);
}

.text-shadow-black {
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

/**************/
/*user profile*/
/**************/
.basic_block {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.f_0 {
    font-size: 0;
    line-height: 0;
}

.f_10 {
    font-size: 10px;
    line-height: 1rem;
}

.f_13 {
    font-size: 13px;
    line-height: 1.2rem;
}

.f_14 {
    font-size: 14px;
    line-height: 1.2rem;
}

.f_16 {
    font-size: 16px;
    line-height: 1.2rem;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.h_30 {
    height: 30px;
}

.h_35 {
    height: 35px;
}

.m_3 {
    margin: 3px;
}

.m_b_5 {
    margin-bottom: 5px;
}

.name_block {
    background-color: #fff;
    background-size: 34px;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
    color: #000;
    height: 27px;
    margin: 3px 0;
    padding: 5px 3px 3px 3px;
    width: 158px;
}

.p_10 {
    padding: 10px;
}

.p_3 {
    padding: 3px;
}

.p_l_10 {
    padding-left: 10px;
}

.p_r {
    position: relative;
}

.rating_block {
    color: white;
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    right: 9px;
    text-align: right;
    top: 7px;
    width: 73px;
}

.t_c {
    text-align: center;
}

.t_r {
    text-align: right;
}

.trophy_block {
    height: 25px;
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 268px;
}

.trophy_Bronze {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
    color: #fff;
    height: 24px;
    margin: 0 2px;
    overflow: hidden;
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0-1px 0, black -1px 0 0, black 1px 0 0;
    white-space: nowrap;
    width: 259px;
}

.trophy_Normal {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
    align-items: center;
    display: flex;
    gap: 1em;
    padding: 1em;
}

.user_data_block_line {
    margin: 0 0 4px 0;
    width: 280px;
}

.v_m {
    vertical-align: middle;
}

.w_112 {
    width: 112px;
}

/**************/
/*rating cards*/
/**************/

.song-grid {
    display: grid !important;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 165px);
}

.song-image {
    object-fit: cover;
    width: calc(100% + 2em);
}

.song-card .song-overlay {
    inset: -5px;
    position: absolute;
    background: linear-gradient(to top, #222222, #0000 60%);
}

.rating-block-inner-level,
.rating-block-rating,
.rating-block-score,
.rating-block-song-title {
    padding: 0.2em 0.4em;
    position: absolute;
    z-index: 2;
}

.section-title {
    color: #fff;
    font-size: 20px;
    grid-column: span 5;
    margin: 9px 0;
    text-align: center;
}

.song-card {
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 101px;
    justify-content: center;
    overflow: hidden;
    padding: 0.5em;
    position: relative;
    width: 163px !important;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
}

.song-content {
    line-height: 1rem;
    z-index: 1;
}

.rating-block-inner-level {
    bottom: 18.5px;
    font-size: 12px;
    left: 4px;
}

.rating-block-rating {
    font-size: 18px;
    right: 2px;
    bottom: 4px;
}

.rating-block-score {
    bottom: 3px;
    font-size: 12px;
    left: 4px;
}

.rating-block-song-title {
    display: inline-block;
    max-width: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    bottom: 33px;
    font-size: 12px;
    left: 4px;
}

.triangle-corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    z-index: 3;
}

.difficulty-advanced .triangle-corner {
    border-top: 25px solid #f8b709;
}

.difficulty-basic .triangle-corner {
    border-top: 25px solid #81d955;
}

.difficulty-expert .triangle-corner {
    border-top: 25px solid #ff818d;
}

.difficulty-master .triangle-corner {
    border-top: 25px solid #c346e7;
}

.difficulty-remaster .triangle-corner {
    border-top: 25px solid #fff;
}

.song-card.difficulty-advanced {
    border: solid 5px #f8b709;
}

.song-card.difficulty-basic {
    border: solid 5px #81d955;
}

.song-card.difficulty-expert {
    border: solid 5px #ff818d;
}

.song-card.difficulty-master {
    border: solid 5px #c346e7;
}

.song-card.difficulty-remaster {
    border: solid 5px #fff;
}

/*************/
/*square card*/  
/*************/


.square-song-grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit,102px);
}
.square-song-title {
	display: inline-block;
	line-height: 12px !important;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.square-song-card{
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: flex-end;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	width: 100px !important;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
}

.rating-gain-info {
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	text-align: right;
	top: 5px;
	z-index: 1;
}
.square-song-card .song-overlay {
    inset: -5px;
    position: absolute;
    background: linear-gradient(to top, #222222, #0000 70%);
}