/*
switch
square cards
rating cards
user profile
for fun
*/
@font-face {
	font-family: 'modern-font';
	src: url('../font/NotoSansJP-Bold.ttf');
}

body {
	background: #232228 !important;
	color: #fff !important;
	font-family: modern-font, sans-serif !important;
}

button {
	background-color: #d1cde1;
	border-radius: 5px !important;
	box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
	padding: 10px;
}

.section-divider {
	border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	border-width: 2px !important;
	flex-grow: 1;
}

.text-shadow-black {
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

.tips {
	font-size: 14px;
}

/**********/
/**switch**/
/**********/

/* From Uiverse.io by Bodyhc */
.checkbox-wrapper-35 .switch {
	display: none;
}

.checkbox-wrapper-35 .switch+label {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
	content: '';
	display: block;
}

.checkbox-wrapper-35 .switch+label::before {
	background-color: #0d6efd;
	border-radius: 500px;
	height: 15px;
	margin-right: 8px;
	-webkit-transition: background-color 0.125s ease-out;
	transition: background-color 0.125s ease-out;
	width: 25px;
}

.checkbox-wrapper-35 .switch+label::after {
	background-color: #fff;
	border-radius: 13px;
	box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
	height: 13px;
	left: 1px;
	position: absolute;
	top: 1px;
	-webkit-transition: -webkit-transform 0.125s ease-out;
	transition: -webkit-transform 0.125s ease-out;
	transition: transform 0.125s ease-out;
	transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
	width: 13px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
	display: block;
	margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
	display: block;
	font-weight: bold;
	height: 15px;
	overflow: hidden;
	position: relative;
	width: 100px;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
	transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
	transition: transform 0.125s ease-out, opacity 0.125s ease-out;
	transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
	position: absolute;
	visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
	background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked+label::after {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

/**************/
/*square cards*/
/**************/
.completed .song-overlay {
	background: #222222bb !important;
}

.completion-check {
	color: #ffffff;
	font-size: 26px;
	position: absolute;
	right: 9px;
	top: -3px;
	z-index: 2;
}

.rating-gain-info {
	font-size: 10px;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	right: 10px;
	text-align: right;
	top: 5px;
	z-index: 1;
}

.square-song-card {
	background-position: center;
	background-size: cover;
	border-radius: 25px;
	color: #fff;
	display: flex;
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
	flex-direction: column;
	height: 100px;
	justify-content: flex-end;
	overflow: hidden;
	padding: 10px !important;
	position: relative;
	width: 100px !important;
}

.square-song-card .song-overlay {
	background: linear-gradient(to top, #222222, #0000);
	border-radius: 26px;
	height: 100px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100px;
}

.square-song-card::before {
	-webkit-mask-composite: destination-out;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	border-radius: 26px;
	border: 3px solid transparent;
	content: "";
	height: 100px;
	left: 0px;
	mask-composite: exclude;
	position: absolute;
	top: 0px;
	width: 100px;
	z-index: 0;
}

.square-song-grid {
	gap: 12px;
}

.square-song-image {
	border-radius: 30px;
	height: 100px;
	left: -10px;
	object-fit: cover;
	position: relative;
	top: 50px;
	width: 100px;
	z-index: -10;
}

.square-song-info-block {
	display: flex;
	flex-direction: column;
}

.square-song-inner-level {
	font-size: 10px;
	line-height: 12px !important;
}

.square-song-score {
	font-size: 13px;
}

.square-song-title {
	display: inline-block;
	flex-shrink: 0;
	font-size: 10px;
	line-height: 12px !important;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**************/
/*rating cards*/
/**************/
.card-decoration {
	border-left: 25px solid transparent;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	z-index: 3;
}

.difficulty-advanced::before {
	background: linear-gradient(60deg, #232228, #f8b709) border-box;
}

.difficulty-basic::before {
	background: linear-gradient(60deg, #232228, #81d955) border-box;
}

.difficulty-expert::before {
	background: linear-gradient(60deg, #232228, #ff818d) border-box;
}

.difficulty-master::before {
	background: linear-gradient(60deg, #232228, #c346e7) border-box;
}

.difficulty-remaster::before {
	background: linear-gradient(60deg, #232228, #ffffff) border-box;
}

.rating-block-inner-level {
	bottom: 21px;
	font-size: 10px;
	text-align: center;
	width: 165px;
}

.rating-block-inner-level,
.rating-block-rating,
.rating-block-score,
.rating-block-song-title {
	padding: 0.2em 0.4em;
	position: absolute;
	z-index: 2;
}

.song-info-block {
	bottom: -15px;
	left: -80px;
	position: relative;
}

.rating-block-rating {
	font-size: 18px;
	left: 57px;
	position: absolute;
	top: -135px;
}

.rating-block-score {
	bottom: 5px;
	font-size: 16px;
	text-align: center;
	width: 165px;
}

.rating-block-song-title {
	bottom: 33px;
	display: inline-block;
	font-size: 9px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 165px;
}

.section-title {
	color: #fff;
	font-size: 20px;
	grid-column: span 5;
	margin: 9px 0;
	text-align: center;
}

.song-card {
	align-items: center;
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	color: #fff;
	display: flex;
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
	flex-direction: column;
	height: 136px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 163px !important;
}

.song-card .song-overlay {
	background: linear-gradient(to top, #222222, #0000 60%);
	border-radius: 500px;
	height: 100px;
	position: absolute;
	width: 95px;
}

.song-card::before {
	-webkit-mask-composite: destination-out;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	border-radius: 500px;
	border: 3px solid transparent;
	content: "";
	height: 100px;
	mask-composite: exclude;
	position: absolute;
	top: 19px;
	width: 100px;
	z-index: 0;
}

.song-content {
	line-height: 1rem;
	z-index: 1;
}

.song-grid {
	display: grid !important;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, 165px);
}

.song-image {
	border-radius: 65px;
	height: 95px;
	margin-left: 1px;
	margin-top: 2px;
	object-fit: cover;
}

/**************/
/*user profile*/
/**************/
#div-user-class-rank-text,
#div-user-course-rank-text,
#div-user-star-text {
	display: none;
}

.basic_block {
	background-color: #413f4a;
	border-radius: 5px;
	box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.f_0 {
	font-size: 0;
	line-height: 0;
}

.f_10 {
	font-size: 10px;
	line-height: 1rem;
}

.f_12 {
	font-size: 12px;
	line-height: 1rem;
}

.f_13 {
	font-size: 13px;
	line-height: 1.2rem;
}

.f_14 {
	font-size: 14px;
	line-height: 1.2rem;
}

.f_16 {
	font-size: 16px;
	line-height: 1.2rem;
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.h_30 {
	height: 30px;
}

.h_35 {
	height: 35px;
}

.m_3 {
	margin: 3px;
}

.m_b_5 {
	margin-bottom: 5px;
}

.name_block {
	background-color: #fff;
	background-size: 34px;
	border-radius: 5px;
	border: 1px solid #dedede;
	box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
	color: #000;
	height: 27px;
	margin: 3px 0;
	padding: 5px 3px 3px 3px;
	width: 158px;
}

.p_10 {
	padding: 10px;
}

.p_3 {
	padding: 3px;
}

.p_l_10 {
	padding-left: 10px;
}

.p_r {
	position: relative;
}

.rating_block {
	color: white;
	font-size: 16px;
	height: 21px;
	line-height: 21px;
	position: absolute;
	right: 13px;
	text-align: right;
	top: 7px;
	transform: scaleX(1.1);
	width: 73px;
}

.t_c {
	text-align: center;
}

.t_r {
	text-align: right;
}

.trophy_block {
	height: 25px;
	margin: 0 0 5px 0;
	overflow: hidden;
	white-space: nowrap;
	width: 268px;
}

.trophy_Bronze {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
	color: #fff;
	height: 24px;
	margin: 0 2px;
	overflow: hidden;
	text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0-1px 0, black -1px 0 0, black 1px 0 0;
	white-space: nowrap;
	width: 259px;
}

.trophy_Normal {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
	align-items: center;
	display: flex;
	gap: 1em;
	padding: 1em;
}

.user_data_block_line {
	margin: 0 0 4px 0;
	width: 280px;
}

.v_m {
	vertical-align: middle;
}

.w_112 {
	width: 112px;
}

/*********/
/*for fun*/
/*********/
.axuan {
	background-image: url(../img/axuan_bg.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.ayo {
	background-image: url(../img/ayo_bg.png);
	background-position-x: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.fly {
	box-sizing: content-box;
	cursor: pointer;
	height: auto;
	padding: 50px;
	position: absolute;
	width: 50px;
	z-index: 1000;
}