@font-face {
    font-family: 'modern-font';
    src: url('../../font/FGMediumHankaku.ttf'); 
}

body {
    background: #232228 !important;
    font-family: modern-font !important;
    color: #fff !important;
}

.text-shadow-black {
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

/**************/
/*user profile*/
/**************/
.basic_block {
    background-color: #413f4a;
    border-radius: 5px;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.f_0 {
    font-size: 0;
    line-height: 0;
}

.f_10 {
    font-size: 10px;
    line-height: 1rem;
}

.f_13 {
    font-size: 13px;
    line-height: 1.2rem;
}

.f_14 {
    font-size: 14px;
    line-height: 1.2rem;
}

.f_16 {
    font-size: 16px;
    line-height: 1.2rem;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.h_30 {
    height: 30px;
}

.h_35 {
    height: 35px;
}

.m_3 {
    margin: 3px;
}

.m_b_5 {
    margin-bottom: 5px;
}

.name_block {
    background-color: #fff;
    background-size: 34px;
    border-radius: 5px;
    border: 1px solid #dedede;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
    color: #000;
    height: 27px;
    margin: 3px 0;
    padding: 5px 3px 3px 3px;
    width: 158px;
}

.p_10 {
    padding: 10px;
}

.p_3 {
    padding: 3px;
}

.p_l_10 {
    padding-left: 10px;
}

.p_r {
    position: relative;
}

.rating_block {
    color: white;
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    right: 9px;
    text-align: right;
    top: 7px;
    width: 73px;
}

.t_c {
    text-align: center;
}

.t_r {
    text-align: right;
}

.trophy_block {
    height: 25px;
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 268px;
}

.trophy_Bronze {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
    color: #fff;
    height: 24px;
    margin: 0 2px;
    overflow: hidden;
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0-1px 0, black -1px 0 0, black 1px 0 0;
    white-space: nowrap;
    width: 259px;
}

.trophy_Normal {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
    background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
    align-items: center;
    display: flex;
    gap: 1em;
    padding: 1em;
}

.user_data_block_line {
    margin: 0 0 4px 0;
    width: 280px;
}

.v_m {
    vertical-align: middle;
}

.w_112 {
    width: 112px;
}

/**************/
/*rating cards*/
/**************/

.song-grid {
    display: grid !important;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 165px);
}

.song-image {
    object-fit: cover;
    height: 95px;
    border-radius: 65px;
    margin-top: 2px;
    margin-left: 2px;
}

.song-card .song-overlay {
    position: absolute;
    background: linear-gradient(to top, #222222, #0000 60%);
    border-radius: 500px;
    height: 100px;
    width: 95px;
}

.rating-block-inner-level,
.rating-block-rating,
.rating-block-score,
.rating-block-song-title {
    padding: 0.2em 0.4em;
    position: absolute;
    z-index: 2;
}

.section-title {
    color: #fff;
    font-size: 20px;
    grid-column: span 5;
    margin: 9px 0;
    text-align: center;
}

.song-card {
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 136px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 163px !important;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
}

.song-content {
    line-height: 1rem;
    z-index: 1;
}

.rating-block-inner-level {
    bottom: 21px;
    font-size: 10px;
    width: 165px;
    text-align: center;
}

.rating-block-rating {
    font-size: 18px;
    top: -3px;
}

.rating-block-score {
    bottom: 5px;
    font-size: 16px;
    width: 165px;
    text-align: center;
}

.rating-block-song-title {
    display: inline-block;
    max-width: 87px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    bottom: 33px;
    font-size: 9px;
    width: 165px;
    text-align: center;
}

.card-decoration {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    z-index: 3;
}

.song-card.difficulty-advanced::before {
    background: linear-gradient(45deg, #232228, #232228, #f8b709) border-box;
}

.song-card.difficulty-basic::before {
    background: linear-gradient(45deg, #232228, #232228, #81d955) border-box;
}

.song-card.difficulty-expert::before {
    background: linear-gradient(45deg, #232228, #232228, #ff818d) border-box;
}

.song-card.difficulty-master::before {
    background: linear-gradient(45deg, #232228, #232228, #c346e7) border-box;
}

.song-card.difficulty-remaster::before {
    background: linear-gradient(45deg, #232228, #232228, #fff) border-box;
}

.song-card::before {
    position: absolute;
    content: "";
    top: 19px;
    width: 100px;
    height: 100px;
    border-radius: 500px;
    z-index: 0;
    border: 3px solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

/*************/
/*square card*/
/*************/


.square-song-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 102px);
}

.square-song-title {
    display: inline-block;
    line-height: 12px !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.square-song-card {
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: flex-end;
    overflow: hidden;
    padding: 5px !important;
    position: relative;
    width: 100px !important;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
}

.rating-gain-info {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-align: right;
    top: 5px;
    z-index: 1;
}

.square-song-card .song-overlay {
    inset: -5px;
    position: absolute;
    background: linear-gradient(to top, #222222, #0000);
}

.square-song-title {
	display: inline-block;
	line-height: 12px !important;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 10px;
}
.square-song-inner-level {
	line-height: 12px !important;
	font-size: 10px;
}
.square-song-score {
    font-size: 14px;
}
.rating-gain-info{
    font-size: 10px;;
}