/*
switch
square cards
rating cards
user profile
overview
for fun
*/

:root{
    --card-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'heavy-font';
    src: url('../font/ResourceHanRoundedCN-Regular.woff2') format('woff2');
}

a {
    color: #26a3a3 !important;
}

body {
    background-color: #f0f7ff;
    overflow-x: hidden;
}

#decos,
#temp-decos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -99;
    pointer-events: none;
}

.deco {
    position: absolute;
    filter: blur(50px);
    z-index: -1;
    opacity: 0.6;
    /* 統一提升基礎透明度 */
}

.deco:nth-child(1),
#temp-decos .deco:nth-child(1) {
    width: 600px;
    height: 600px;
    top: 15% !important;
    left: -10%;
    background: #ffd6ff;
    border-radius: 43% 57% 41% 59% / 57% 45% 55% 43%;
    animation: drift 25s infinite linear;
}

.deco:nth-child(2),
#temp-decos .deco:nth-child(2) {
    width: 300px;
    height: 300px;
    top: -5% !important;
    left: 40%;
    background: #a2d2ff;
    border-radius: 50%;
    animation: drift 22s infinite linear;
    opacity: 0.4;
}

.deco:nth-child(3) {
    width: 450px;
    height: 450px;
    top: 60%;
    right: 5% !important;
    background: #ffafcc;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: drift 30s infinite linear;
    opacity: 0.5;
}

#temp-decos .deco:nth-child(3) {
    width: 450px;
    height: 450px;
    top: 30% !important;
    right: 5%;
    background: #ffafcc;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: drift 30s infinite linear;
    opacity: 0.5;
}

#temp-decos .deco:nth-child(4) {
    width: 450px;
    height: 450px;
    top: 60% !important;
    left: 5%;
    background: #bde0fe;
    border-radius: 60% 40% 30% 70% / 50% 30% 70% 50%;
    animation: drift 20s infinite linear reverse;
}

#temp-decos .deco:nth-child(5) {
    width: 500px;
    height: 500px;
    top: 80% !important;
    right: -5%;
    background: #e7c6ff;
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    animation: drift 18s infinite linear reverse;
}

#temp-decos .deco {
    z-index: 1;
}

#result-container {
    position: relative;
    z-index: 1;
}

#user-info,
#stat {
    z-index: 2;
}

@keyframes drift {
    from {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    /* 加入微縮放更有律動感 */
    to {
        transform: rotate(360deg) scale(1);
    }
}

button {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.4) !important;
    border-radius: 5px !important;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #4d4d4d;
    font-weight: bold;
    padding: 10px 20px;
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(163deg, transparent 20%, rgba(255, 255, 255, 0.4), transparent 80%);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#info {
    color: #333;
}

.section-divider {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-body-color) !important;
    border-width: 2px !important;
    flex-grow: 1;
}

.section-title {
    font-size: 20px;
    grid-column: span 5;
    margin: 9px 0;
    text-align: center;
}

#song-table {
    position: relative;
    z-index: 2;
}

/**********/
/**switch**/
/**********/

/* From Uiverse.io by Bodyhc */
.checkbox-wrapper-35 .switch {
    display: none;
}

.checkbox-wrapper-35 .switch+label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
    content: '';
    display: block;
}

.checkbox-wrapper-35 .switch+label::before {
    background-color: #7af4c3;
    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 25px;
}

.checkbox-wrapper-35 .switch+label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
    display: block;
    margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
    background-color: #bddef0;
}

.checkbox-wrapper-35 .switch:checked+label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

/**************/
/*square cards*/
/**************/
.completed .card-decoration {
    background: #2222228c;
    height: 71px;
    width: 213px;
    position: absolute;
    top: -9px;
    left: -68px;
    border-radius: 5px;
}

.completion-check {
    display: none;
}

.song-grid {
    gap: 10px;
}

.square-song-card {
    background: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 70px;
    width: 212px !important;
    position: relative;
    border-radius: 5px;
    contain: strict;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
}

.square-song-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(120deg, transparent 20%, rgba(255, 255, 255, 0.4), transparent 80%);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.square-song-image {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    top: 10px;
    object-fit: cover;
    flex-shrink: 0;
    position: relative;
}

.square-song-card .song-overlay {
    position: absolute;
    inset: 0;
    width: 211px;
    z-index: -2;
    border-radius: 5px;
    opacity: 0.8;
}

.square-song-inner-level {
    font-size: 10px;
    line-height: 12px !important;
}

.square-song-score {
    font-size: 13px;
}

.square-song-title {
    display: inline-block;
    flex-shrink: 0;
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.square-song-grid {
    gap: 12px;
}

.rating-gain-info {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    bottom: -2px;
    text-align: right;
    z-index: 1;
}

.square-song-info-block {
    top: 8px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 5px;
    height: 50px;
}

/**************/
/*rating cards*/
/**************/
.song-grid {
    gap: 10px;
}

.song-card {
    position: relative;
    display: flex;
    width: 289px !important;
    box-shadow: var(--card-shadow);
    height: 90px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4) !important;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    contain:strict;
}

.song-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(120deg, transparent 20%, rgba(255, 255, 255, 0.4), transparent 80%);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.song-image {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    top: 10px;
    object-fit: cover;
    flex-shrink: 0;
    position: relative;
}

.song-info-block {
    top: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin-left: 5px;
    height: 70px;
}

.rating-block-rating {
    font-size: 22px;
    font-weight: 900;
    align-self: flex-start;
    line-height: 22px;
}

div[class*="difficulty-"]::after {
    font-size: 10px;
    padding: 1px 6px;
    position: absolute;
    top: -3px;
    left: -2px;
    border-radius: 0px 0px 5px 0px;
}

.difficulty-basic::after {
    content: "basic";
    background-color: rgb(118, 230, 172);
    color: white;
}

.difficulty-advanced::after {
    content: "advanced";
    background-color: rgb(250, 205, 108);
    color: white;
}

.difficulty-expert::after {
    content: "expert";
    background-color: rgba(247, 165, 181);
    color: white;
}

.difficulty-master::after {
    content: "master";
    background-color: rgba(216, 166, 232);
    color: white;
}

.difficulty-remaster::after {
    content: "re:master";
    background-color: rgba(243, 221, 251);
    color: #333;
}

.song-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rating-block-song-title {
    font-size: 16px;
    line-height: 16px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating-block-inner-level,
.rating-block-score {
    font-size: 10px;
    line-height: 10px;
    color: #4d4d4d;
}

#course-song-card .song-card {
    padding-left: calc(var(--bs-gutter-x) * .5);
    width: 420px !important;
}

#course-song-card .rating-block-inner-level,
#course-song-card .rating-block-score {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.85;
}

#course-song-card .rating-block-song-title {
    font-size: 16px;
    line-height: 1.5;
    max-width: 340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**************/
/*user profile*/
/**************/
img[src*="rating_base_blue.png"]+.rating_block::after {
    background: #86e2ff;
    z-index: -1;
}

img[src*="rating_base_bronze.png"]+.rating_block::after {
    background: #c3663c;
    z-index: -1;
}

img[src*="rating_base_gold.png"]+.rating_block::after {
    background: #e0c302;
    z-index: -1;
}

img[src*="rating_base_green.png"]+.rating_block::after {
    background: #aeff80;
    z-index: -1;
}

img[src*="rating_base_orange.png"]+.rating_block::after {
    background: #fff15b;
    z-index: -1;
}

img[src*="rating_base_platinum.png"]+.rating_block::after {
    background: #fcf082;
    z-index: -1;
}

img[src*="rating_base_purple.png"]+.rating_block::after {
    background: #daa0ff;
    z-index: -1;
}

img[src*="rating_base_rainbow.png"]+.rating_block::after {
    background: linear-gradient(159deg, #ff4b4b 0%, #ff9900 15%, #ffee00 30%, #33dd00 45%, #00ddff 60%, #3366ff 75%, #cc33ff 90%, #ff4b4b 100%);
    z-index: -1;
}

img[src*="rating_base_red.png"]+.rating_block::after {
    background: #ff9393;
    z-index: -1;
}

img[src*="rating_base_silver.png"]+.rating_block::after {
    background: #b2c4cd;
    z-index: -1;
}

#div-user-class-rank-text h6,
#div-user-course-rank-text h6,
#div-user-star-text h6 {
    color: #4d4d4d;
    font-weight: 1000;
}

#div-user-class-rank-text span,
#div-user-course-rank-text span,
#div-user-star-text span {
    color: #4d4d4d;
    font-size: 14px;
    line-height: 12px;
}

#user-class-rank,
#user-course-rank,
#user-rating-base,
.h_30.m_3.v_m,
.p_l_10.f_l.f_14 {
    display: none;
}

.basic_block {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.basic_block::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(153deg, transparent 20%, rgba(255, 255, 255, 0.4), transparent 80%);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.f_0 {
    font-size: 0;
    line-height: 0;
}

.f_10 {
    font-size: 10px;
    line-height: 1rem;
}

.f_12 {
    font-size: 12px;
    line-height: 1rem;
}

.f_13 {
    font-size: 13px;
    line-height: 1.2rem;
}

.f_14 {
    font-size: 14px;
    line-height: 1.2rem;
}

.f_16 {
    font-size: 16px;
    line-height: 1.2rem;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.h_30 {
    height: 30px;
}

.h_35 {
    height: 35px;
}

.m_3 {
    margin: 3px;
}

.m_b_5 {
    margin-bottom: 5px;
}

.name_block {
    background-size: 34px;
    border-radius: 15px;
    color: #4d4d4d;
    font-weight: 1000;
    height: 27px;
    margin: 3px 0;
    padding: 5px 3px 3px 3px;
    width: 158px;
}

.p_0 {
    padding: 0 !important;
}

.p_3 {
    padding: 3px;
}

.p_10 {
    padding: 10px;
}

.p_l_10 {
    padding-left: 10px;
}

.p_r {
    position: relative;
}

.rating_block {
    color: #4d4d4d;
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: 7px;
    width: 100px;
}

.rating_block::after {
    content: "";
    inset: 0;
    left: -4px;
    opacity: 0.4;
    position: absolute;
    width: 110px;
    z-index: 0;
}

.rating_block::before {
    color: #4d4d4d;
    content: "Rating: ";
    float: left;
}

.t_c {
    text-align: center;
}

.t_r {
    text-align: right;
}

.trophy_block {
    height: 25px;
    margin: 0 0 5px 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 268px;
}

.trophy_block::before {
    content: "";
    inset: 0;
    opacity: 0.4;
    position: absolute;
    z-index: 0;
}

.trophy_Bronze::before {
    background: #fb9a6a;
    z-index: -1;
}

.trophy_Gold::before {
    background: #ffdf4b;
    z-index: -1;
}

.trophy_inner_block {
    color: #4d4d4d;
    height: 24px;
    margin: 0 2px;
    overflow: hidden;
    white-space: nowrap;
    width: 259px;
}

.trophy_Normal::before {
    background: #aaa;
    z-index: -1;
}

.trophy_Rainbow::before {
    background: linear-gradient(159deg, #ff4b4b 0%, #ff9900 15%, #ffee00 30%, #33dd00 45%, #00ddff 60%, #3366ff 75%, #cc33ff 90%, #ff4b4b 100%);
    z-index: -1;
}

.trophy_Silver::before {
    background: #e0e3f8;
    z-index: -1;
}

.user-info {
    align-items: center;
    display: flex;
    gap: 1em;
    padding: 1em;
}

.user_data_block_line {
    margin: 0 0 4px 0;
    width: 280px;
}

.v_m {
    vertical-align: middle;
}

.w_112 {
    width: 112px;
}

/**********/
/*overview*/
/**********/
.div-chart {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-left: -5px;
    width: fit-content;
}

.chart {
    background-color: #ffffff77 !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.chart-title {
    color: #4a4a4a;
    font-weight: bold;
}

.heavy-hr {
    background: #eee;
    height: 5px;
    width: 100%;
    backdrop-filter: blur(2px);
}

/*********/
/*for fun*/
/*********/
.axuan {
    background-image: url(../img/axuan_bg.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.ayo {
    background-image: url(../img/ayo_bg.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.fly {
    box-sizing: content-box;
    cursor: pointer;
    height: auto;
    padding: 50px;
    position: absolute;
    width: 50px;
    z-index: 1000;
}