body {
	font-family: sans-serif;
}

button {
	cursor: pointer;
	margin-right: 1em;
	padding: 0.5em 1em;
}

img {
	-moz-touch-callout: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border: none;
	user-select: none;
}

.advanced {
	box-shadow: 0px 0px 10px #ff0;
}

.basic {
	box-shadow: 0px 0px 10px #0f0;
}

.basic_block {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.block-song-name {
	top: 1.3em;
	left: 0.3em;
	font-size: 16px;
}

.block-song-name,
.block-score,
.block-inner-level,
.block-type {
	padding: 0.2em 0.4em;
	position: absolute;
	z-index: 2;
}

.block-inner-level {
	left: 0.3em;
	top: 0.3em;
	font-size: 14px;
}

.block-type {
	right: 0.3em;
	top: 0.3em;
}

.block-score {
	bottom: 0.3em;
	right: 0.3em;
	font-size: 18px;
}

.button-group {
	margin: 1em 0;
}

.comment_block {
	background: #dcf3ff;
	border-radius: 10px;
	margin: 10px 0 0 0;
	min-height: 100px;
	padding: 10px;
	width: 306px;
}

.expert {
	box-shadow: 0px 0px 10px #f00;
}

.f_0 {
	font-size: 0;
	line-height: 0;
}

.f_13 {
	font-size: 13px;
	line-height: 1.2rem;
}

.f_16 {
	font-size: 16px;
	line-height: 1.2rem;
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.h_30 {
	height: 30px;
}

.h_35 {
	height: 35px;
}

.m_b_5 {
	margin-bottom: 5px;
}

.master {
	box-shadow: 0px 0px 10px #a0f;
}

.name_block {
	background-color: #fff;
	background-size: 34px;
	border-radius: 5px;
	border: 1px solid #dedede;
	box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
	height: 22px;
	margin: 3px 0;
	padding: 5px 3px 3px 3px;
	width: 158px;
	color: #000;
}

.p_10 {
	padding: 10px;
}

.p_3 {
	padding: 3px;
}

.p_l_10 {
	padding-left: 10px;
}

.p_r {
	position: relative;
}

.rating_block {
	color: white;
	font-size: 16px;
	height: 21px;
	line-height: 21px;
	position: absolute;
	right: 9px;
	text-align: right;
	top: 7px;
	width: 73px;
}

.re-master {
	box-shadow: 0px 0px 10px #fff;
}

.section-title {
	font-weight: bold;
	grid-column: span 5;
	margin: 1em 0;
	text-align: center;
}

.text-shadow {
	text-shadow:
		1px 1px 1px black,
		1px -1px 1px black,
		-1px 1px 1px black,
		-1px -1px 1px black
}

.song-card {
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-between;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

.song-card.completed {
	filter: brightness(60%);
	position: relative;
}

.completion-check {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
	color: green;
	z-index: 2;
}

.song-content {
	z-index: 1;
}

.song-grid {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(5, 1fr);
}

.song-overlay {
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.2);
	inset: 0;
	position: absolute;
	z-index: 0;
}

.t_c {
	text-align: center;
}

.t_r {
	text-align: right;
}

.table {
	display: none;
	flex-direction: column;
	margin-top: 1em;
}

.trophy_block {
	height: 25px;
	margin: 0 0 5px 0;
	overflow: hidden;
	white-space: nowrap;
	width: 268px;
}

.trophy_Bronze {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_bronze.png)no-repeat;
}

.trophy_Gold {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_gold.png)no-repeat;
}

.trophy_inner_block {
	color: #fff;
	height: 24px;
	margin: 0 2px;
	overflow: hidden;
	text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0-1px 0, black -1px 0 0, black 1px 0 0;
	white-space: nowrap;
	width: 259px;
}

.trophy_Normal {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_normal.png)no-repeat;
}

.trophy_Rainbow {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_rainbow.png)no-repeat;
}

.trophy_Silver {
	background: url(https://maimaidx-eng.com/maimai-mobile/img/trophy_silver.png)no-repeat;
}

.user-info {
	align-items: center;
	border-bottom: 1px solid #444;
	display: flex;
	gap: 1em;
	padding: 1em;
}

.user_data_block_line {
	margin: 0 0 4px 0;
	width: 280px;
}

.w_112 {
	width: 112px;
}